###Exploratory Data Analysis- Capstone 3 - NLP

In [1]:
#pip install wordcloud

In [2]:
import pandas as pd
import numpy as np
import watermark
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud

In [3]:
%load_ext watermark

In [4]:
%watermark

Last updated: 2022-09-03T22:53:51.456310-05:00

Python implementation: CPython
Python version       : 3.8.8
IPython version      : 7.22.0

Compiler    : Clang 10.0.0
OS          : Darwin
Release     : 19.6.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit

In [6]:
%watermark --iversions

numpy     : 1.20.1
seaborn   : 0.11.1
watermark : 2.3.1
matplotlib: 3.3.4
pandas    : 1.2.4

In [9]:
df = pd.read_csv("/Users/ashleymersman/Desktop/Capstone_3_NLP/data/processed/cleaned_data.csv")
df = df.drop(columns='Unnamed: 0')

In [10]:
df

,Clothing ID,Age,Rating,Recommended IND,Division Name,Department Name,Class Name,Text
0,767,33,4,1,Initmates,Intimate,Intimates,Absolutely wonderful - silky and sexy and comf...
1,1080,34,5,1,General,Dresses,Dresses,Love this dress! it's sooo pretty. i happene...
2,1077,60,3,0,General,Dresses,Dresses,I had such high hopes for this dress and reall...
3,1049,50,5,1,General Petite,Bottoms,Pants,"I love, love, love this jumpsuit. it's fun, fl..."
4,847,47,5,1,General,Tops,Blouses,This shirt is very flattering to all due to th...
...,...,...,...,...,...,...,...,...
22623,1104,34,5,1,General Petite,Dresses,Dresses,I was very happy to snag this dress at such a ...
22624,862,48,3,1,General Petite,Tops,Knits,"It reminds me of maternity clothes. soft, stre..."
22625,1104,31,3,0,General Petite,Dresses,Dresses,"This fit well, but the top was very see throug..."
22626,1084,28,3,1,General,Dresses,Dresses,I bought this dress for a wedding i have this ...
22627,1104,52,5,1,General Petite,Dresses,Dresses,This dress in a lovely platinum is feminine an...